body {
    background-image: url('230302_ukraine_overview_lg.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

h1,h2{
    font-family: "Arial", sans-serif;
}

head {
    display: block;
    text-align: center;
    height: 80px;
}

head > title{
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 20px;
    background-color: #403939;
}

head title.fixed{
    position: fixed;
    width: 100%;
    animation: fade 0.5s forwards;
}

#spacer{
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#spacer h1{
    font-size: 50px;
    color: white;
    font-style: italic;
    margin: 5px;
}

#spacer h2{
    font-size: 25px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFFF;
    padding: 5px 10px;
}


#container_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    line-height: 1.5;
    font-size: 20px;
}

#container_2 {
    display: flex;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    line-height: 1.5;
    font-size: 20px;
    flex-direction: column;
}

#container_3 {
    display: flex;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    line-height: 1.5;
    font-size: 20px;
    flex-direction: column;
}

img.pic_1 {
    width: 100%;
}


@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#chart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

img.pic_2 {
    width: 100%;
}

footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
    text-align: center;
  }

  #source-description {
    text-align: right;
    padding: 5px;
  }
  
  #source-description p {
    margin: 0; 
    font-size: 14px;
    color: grey; 
    padding: 5px; 
}

#source-description2 {
    text-align: right;
    padding: 5px;
}

#source-description2 p {
    margin: 0;
    font-size: 14px;
    color: grey;
    padding: 5px;
}
